    <% if (user) { %>
      <footer class="app-footer">
        <span>GS Account Manager</span>
        <span>v<%= appVersion %></span>
      </footer>
    <% } %>
  </main>
  <script src="/js/app.js"></script>
</body>
</html>
